BASE_URL=

CREATE_LOG=false

REQUEST_TIMEOUT_MS=35000

DEFAULT_MAX_RETRIES=3
DEFAULT_POLL_INTERVAL_MS=1000

BACKOFF_BASE_MS=1000
BACKOFF_CAP_MS=8000
BACKOFF_JITTER_MS=300

SERVICE_OFFERING_ID=testserviceoffering
TEMPLATE_ID=testtemplate

SUBNET_GATEWAY=10.0.1.1
SUBNET_NETMASK=255.255.255.0

ACL_RULE_PROTOCOL=all
ACL_RULE_CIDR=0.0.0.0/0
ACL_RULE_ACTION=Allow